@model IPagedList<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <h2>Product List</h2>

    <a href="@Url.Action("Create")" class="btn btn-primary mb-3">Add New Product</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Stock Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Items)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.StockQuantity</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = product.Id })" class="btn btn-warning">Edit</a>

                             @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { @style = "display:inline" }))
                            {
                                @Html.Hidden("Id", product.Id)
                                <button type="button" class="btn btn-danger btn-delete">Delete</button>
                            }
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
<script>
    $(function () {
        $('.btn-delete').on('click', function () {
            var isSuccess = confirm('Are you sure you want to delete this product?');
            if (isSuccess) {
                $(this).closest('form').trigger('submit');
            }
        })
    })
</script>
}